<% layout("layouts/boilerplate") %>
<main class="container">

    <section>
        <header class="row mt-5 heading pb-4">
            <h1 class="text-center">Experience</h1>
        </header>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 mt-3">
                <div class="timeline">
                    <% for (let experience of experiences) { %>
                    <div class="card item text-center my-4">
                        <div class="card-body">
                            <h5 class="card-title text-white"><%= experience.title %>
                                @ <a href="<%= experience.link %>" target="_blank"
                                    rel="noopener noreferrer"><span><%= experience.employer %></span></a>
                            </h5>
                            <p class="card-text"><%= experience.stack.join(", ") %></p>
                        </div>
                        <div class="card-footer text-white">
                            <%= experience.startDate.toLocaleString("en-US", { month: "short", year: "numeric"}) %> -
                            <% if (experience.endDate !== undefined) { %>
                            <%= experience.endDate.toLocaleString("en-US", { month: "short", year: "numeric"})%>
                            <% } else { %>
                            <span>Current</span>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</main>