<% layout("layouts/boilerplate") %>
<main class="container">

    <section>
        <header class="row mt-5 heading pb-4">
            <h1 class="text-center">Edit <%= edu.name %></h1>
        </header>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 mt-3">
                <form class="my-3" action="/education/<%= edu._id %>?_method=PUT" method="POST" autocomplete="off">
                    <div class="row justify-content-center align-items-center">
                        <div class="form-group col-lg-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%= edu.name %>"
                                required>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="form-group col-lg-6">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="3" name="description"
                                required><%= edu.description %></textarea>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="form-group col-lg-6">
                            <label for="link">Link</label>
                            <input type="text" class="form-control" id="link" name="link" value="<%= edu.link %>"
                                required>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="form-group col-lg-3">
                            <label for="startDate">Start Date</label>
                            <input type="date" class="form-control" id="startDate" name="startDate"
                                value="<%= edu.startDate.toISOString().split('T')[0] %>" required>
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="endDate">End Date</label>
                            <% if(edu.endDate === undefined || edu.endDate === null) { %>
                            <input type="date" class="form-control" id="endDate" name="endDate">
                            <% } else { %>
                            <input type="date" class="form-control" id="endDate" name="endDate"
                                value="<%= edu.startDate.toISOString().split('T')[0] %>">
                            <% } %>
                        </div>
                    </div>
                    <div class="row my-3 align-items-center">
                        <div class="form-group col-lg-2 offset-3">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>