<% layout("layouts/boilerplate") %>
<main class="container">

    <section>
        <header class="row mt-5 heading pb-4">
            <h1 class="text-center">Projects</h1>
        </header>
        <div class="row justify-content-center align-items-center">
            <% if(currentUser) { %>
            <div class="col-lg-8 mt-3 text-center">
                <a href="projects/new" class="btn btn-success">New Project</a>
            </div>
            <% } %>
            <div class="col-lg-8 mt-3">
                <div class="grid">
                    <% for (let project of projects) { %>
                    <div class="card item project-item text-center my-4">
                        <img src="<%= project.images[0].url %>" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-white"><%= project.name %> </h5>
                            <p><%= project.shortDescription %></p>
                            <p class="card-text text-white"><%= project.stack.join(", ") %></p>
                        </div>
                        <div class="card-footer text-white">
                            <a href="projects/<%= project._id %>" class="btn btn-dark">View</a>
                            <% if(currentUser) { %>
                            <hr>
                            <div>
                                <a href="projects/<%= project._id %>/edit" class="btn btn-info">Edit</a>
                                <form class="d-inline" action="projects/<%= project._id %>?_method=DELETE"
                                    method="POST">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
</main>