<% layout("layouts/boilerplate") %>
<main class="container">
    <section>
        <header class="row mt-5 heading pb-4">
            <h1 class="text-center"><%= proj.name %></h1>
        </header>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-8 mt-5">
                <div class="card mb-3 bg-dark text-white">
                    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% for (let i = 0; i < proj.images.length; i++) { %>
                            <% let active = i === 0 ? "active" : "" %>
                            <div class="carousel-item <%= active %>">
                                <img src="<%= proj.images[i].url %>" class="d-block w-100" alt="...">
                            </div>
                            <% } %>
                        </div>
                        <% if (proj.images.length > 1) { %>
                        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <% } %>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title"><%= proj.shortDescription %></h5>
                        <p class="card-text"><%= proj.longDescription %></p>
                        <p class="card-text"><small class="stack"><%= proj.stack.join(", ") %></small></p>
                        <p class="card-footer text-center project-footer"><small><a href="<%= proj.link %>"
                                    target="_blank" rel="noopener noreferrer"><i
                                        class="fa-solid fa-square-arrow-up-right small-icon rounded-circle"></i></a></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>